.slick-dots li button:before {
    color: black;
  }
  
  /* Cor do dot ativo */
  .slick-dots li.slick-active button:before {
    color: #093164;
  }
  /* Cor quando a classe "dark" está presente */
/* .dark .slick-dots li button:before {
    color: white;
  } */
  
  /* Cor do dot ativo no modo escuro */
  .dark .slick-dots li.slick-active button:before {
    color: #1376f4;
  }